<a href="/products/{{_id}}/details" class="added-hotel">
    <img src="https://image.freepik.com/free-vector/flat-hotel-building_23-2148162501.jpg" alt=""
        class="picture-added-hotel">
    <h3>Hilton Toronto</h3>
    <span>Free rooms: 42</span>
</a>